<div class="container mx-auto p-4">

    <div class="bg-white shadow-lg rounded-lg">

      <div class="bg-gray-100 px-6 py-4 rounded-t-xl">
        <h5 class="text-lg font-semibold mb-0"><i class="fa-solid fa-location-dot mr-2"></i>Gestión de productos</h5>
      </div>

      <div class="p-6">

        <div class="mb-4">
          <button type="button" routerLink="/crear-producto" class="bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600 transition mr-2">
            <i class="fa-solid fa-plus mr-1"></i> Crear
          </button>
          <button type="button" class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition mr-2" [disabled]="seleccionados.length == 0" data-bs-toggle="modal" data-bs-target="#borrar">
            <i class="fa-solid fa-trash me-1"></i> Eliminar {{ textoBtnEliminar }}
          </button>
        </div>

        <div class="overflow-x-auto rounded-xl">
          <table class="min-w-full bg-white border border-gray-200">
            <thead class="bg-gray-100">
              <tr>
                <th></th>
                <th class="px-4 py-2 text-left">Código</th>
                <th class="px-4 py-2 text-left">Nombre</th>
                <th class="px-4 py-2 text-left">Foto</th>
                <th class="px-4 py-2 text-left">Descripcion</th>
                <th class="px-4 py-2 text-left">Precio</th>
                <th class="px-4 py-2 text-left">Stock</th>
                <th class="px-4 py-2 text-left">Editar Producto</th>

                <th class="px-4 py-2"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              @for (item of listaProductos; track $index) {
                <tr>
                  <td><input #check class="form-check-input" type="checkbox" (change)="seleccionar(item, check.checked)" /></td>
                  <td class="px-4 py-2">
                    <!-- <p>{{item.codigo}}</p> -->
                  </td>
                  <td class="px-4 py-2">
                    <!-- <p>{{item.nombre}}</p> -->
                  </td>
                  <td class="px-4 py-2">
                    <!-- <img src="{{item.foto}}" alt="{{item.nombre}}" class="w-full max-w-[100px]"> -->
                  </td>
                  <td class="px-4 py-2">
                    <!-- <p>{{item.descripcion}}</p> -->
                  </td>
                  <td class="px-4 py-2">
                    <!-- <p>{{item.precio}}</p> -->
                  </td>
                  <td class="px-4 py-2">
                    <!-- <p>{{item.stock}}</p> -->
                  </td>
                  <td class="px-4 py-2">
                    <!-- <p>{{item.stock}}</p> -->
                  </td>

                </tr>
              }
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
